.main-page,
.classic-waffles,
.apple-fritter-pancakes {
    background-color: lightsteelblue;
    font-family: Helvetica, Georgia, serif;
}

.main-page-description {
    text-align: center;
}

.classic-waffles-heading,
.apple-fritter-pancakes-heading {
    text-align: center;
}

.classic-waffles-jpg,
.apple-fritter-pancakes-jpg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

