.main-page,
.classic-waffles {
    background-color: lightsteelblue;
    font-family: Helvetica, Georgia, serif;
}

.main-page-description {
    text-align: center;
}

.classic-waffles-heading {
    text-align: center;
}

.classic-waffles-jpg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

